{#
/**
 * @file
 * Theme override for Listing Grid Item paragraph.
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--listing-grid-item',
    'listing-grid-item',
  ]
%}

{% set title = paragraph.field_title.value ?? '' %}
{% set description = paragraph.field_description.value ?? '' %}

<article{{ attributes.addClass(classes) }}>
  {% if title %}
    <h3 class="listing-grid-item__title mb-3">{{ title }}</h3>
  {% endif %}

  {% if description %}
    <p class="listing-grid-item__description mb-0">{{ description }}</p>
  {% endif %}
</article>
