{#
/**
 * @file
 * Theme override for Testimonial Item paragraph (single Swiper slide).
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--testimonial-item',
    'testimonial-item',
    'swiper-slide',
  ]
%}

{% set title = paragraph.field_title.value ?? '' %}
{% set description = paragraph.field_description.value ?? '' %}

<article{{ attributes.addClass(classes) }}>
  <div class="testimonial-item__inner text-center">
    {% if content.field_image %}
      <div class="testimonial-item__media mb-4">
        {{ content.field_image }}
      </div>
    {% endif %}

    {% if title %}
      <h3 class="testimonial-item__title mb-1">{{ title }}</h3>
    {% endif %}

    {% if description %}
      <p class="testimonial-item__description mt-4">{{ description }}</p>
    {% endif %}
  </div>
</article>
