.listing-grid-section {
  &__heading {

  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.75rem 2rem;
  }
}

.listing-grid-item {
  height: 100%;

  &__title {

  }

  &__description {

  }
}

@media (max-width: 1199.98px) {
  .listing-grid-section {
    &__grid {
      gap: 2.25rem 1.5rem;
    }
  }
}

@media (max-width: 991.98px) {
  .listing-grid-section {
    &__grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 575.98px) {
  .listing-grid-section {
    &__heading {
      margin-bottom: 2rem !important;
    }

    &__grid {
      grid-template-columns: minmax(0, 1fr);
      gap: 1.5rem;
    }
  }
}
