body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  color: #12285f;
  font-family: "Mulish", sans-serif;
  background: none no-repeat scroll 0 0 #ffffff;
}
