body {
  color: #12285f;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@mixin heading-style {
  color: #12285f;
  font-size: 2.5rem;
  font-weight: 600;
}

@mixin subheading-style {
  color: #12285f;
  font-size: 2rem;
  font-weight: 200;
}

@mixin title-style {
  color: #12285f;
  font-size: 1.5rem;
  font-weight: 400;
}

@mixin description-style {
  color: #12285f;
  font-size: 1.25rem;
  font-weight: 200;
}
