@mixin mobile-down {
  @media (max-width: 575.98px) {
    @content;
  }
}

body {
  color: #12285f;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
}

@mixin heading-style {
  color: #12285f;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.03125rem;
  line-height: 1.2;

  @include mobile-down {
    font-size: 2rem;
    letter-spacing: -0.0125rem;
    line-height: 1.3;
  }
}

@mixin subheading-style {
  color: #12285f;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.015625rem;
  line-height: 1.3;

  @include mobile-down {
    font-size: 1.5rem;
    letter-spacing: -0.00625rem;
    line-height: 1.35;
  }
}

@mixin title-style {
  color: #12285f;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.4;

  @include mobile-down {
    font-size: 1.125rem;
    line-height: 1.45;
  }
}

@mixin description-style {
  color: #12285f;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.009375rem;
  line-height: 1.6;

  @include mobile-down {
    font-size: 0.9375rem;
    letter-spacing: 0.00625rem;
    line-height: 1.6;
  }
}
