$color-primary: #12285f;
$color-track: #f1f1f1;
$color-body: #3c3c3c;
$color-white: #fff;
$scrollbar-width: 0.625rem;
$transition-duration: 0.5s;
$link-effect-height: 0.125rem;
$link-effect-transition: 0.3s;

html {
  scrollbar-color: $color-primary $color-track;
  scrollbar-width: $scrollbar-width;
}

/* width */
::-webkit-scrollbar {
  width: $scrollbar-width;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-track;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 0.313rem;

  &:hover {
    background: $color-primary;
  }
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  color: $color-body;
  font-family: "Mulish", sans-serif;
  background: none no-repeat scroll 0 0 $color-white;
}

.btn {
  position: relative;
  padding: 1rem;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  border-radius: 0;
  border: none;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: $transition-duration;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: $transition-duration;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  }

  &.primary,
  &.btn--primary,
  &-primary {
    --bs-btn-color: #{$color-white};
    --bs-btn-bg: #{$color-primary};
    --bs-btn-border-color: #{$color-primary};
    --bs-btn-hover-color: #{$color-primary};
    --bs-btn-hover-bg: #{$color-primary};
    --bs-btn-hover-border-color: #{$color-primary};
    --bs-btn-active-color: #{$color-primary};
    --bs-btn-active-bg: #{$color-primary};
    --bs-btn-active-border-color: #{$color-primary};

    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-primary;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      background-color: $color-primary;
      border-color: $color-primary;
    }

    &::before {
      background: $color-white;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &.secondary,
  &.btn--secondary,
  &-secondary {
    --bs-btn-color: #{$color-primary};
    --bs-btn-bg: #{$color-white};
    --bs-btn-border-color: #{$color-primary};
    --bs-btn-hover-color: #{$color-white};
    --bs-btn-hover-bg: #{$color-white};
    --bs-btn-hover-border-color: #{$color-primary};
    --bs-btn-active-color: #{$color-white};
    --bs-btn-active-bg: #{$color-white};
    --bs-btn-active-border-color: #{$color-primary};

    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      background-color: $color-white;
      border-color: $color-primary;
    }

    &::before {
      background: $color-primary;
    }

    &:hover {
      color: $color-white;
    }
  }
}

.link-effect {
  display: inline-block;
  position: relative;
}

.link-effect-hover {
  &:hover {
    text-decoration: none;
    color: $color-primary;
  }

  &::after,
  &.active-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $link-effect-height;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform $link-effect-transition;
  }

  &.active-menu::after,
  &:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  &.link-effect-active::after {
    transform: none;
  }
}

.link-effect-active {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $link-effect-height;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
  }
}

/* AJAX Loading */

.ajax-load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1051;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(225, 225, 225, 0.5);

  .ic-vf-load {
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    background-image: url("../../../images/loading-icon.gif");
    background-size: 100% 100%;
  }
}

.ajax-progress-fullscreen {
  display: none !important;
}

/* End AJAX Loading */
