.vats-user-password-page__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.vats-user-password-page__visual-content {
  padding: 3rem;
}

.vats-user-password-page__card {
  border-radius: 1rem;
}

.vats-user-password-page__logo {
  width: auto;
  max-height: 4rem;
}
