@use '../../../common/_typography' as typo;

.cta-section {
  background-color: #12285f;

  &__heading {
    @include typo.heading-style;
    margin-left: auto;
    margin-right: auto;
  }

  &__subheading {
    @include typo.subheading-style;
  }

  &__btn {
    min-width: 10rem;
  }
}

@media (max-width: 575.98px) {
  .cta-section {
    &__actions {
      flex-direction: column;
      align-items: center;
    }

    &__btn {
      width: 100%;
    }
  }
}
