.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
  padding: .56rem .75rem;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 0.5s;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  }

  &-primary {
    background-color: #12285f;
    color: #ffffff;
    border: 1px solid #12285f;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      background-color: #12285f;
      border-color: #12285f;
    }

    &::before {
      background: #ffffff;
    }

    &:hover {
      color: #12285f;
    }
  }

  &-secondary {
    background-color: #ffffff;
    color: #12285f;
    border: 1px solid #12285f;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      background-color: #ffffff;
      border-color: #12285f;
    }

    &::before {
      background: #12285f;
    }

    &:hover {
      color: #ffffff;
    }
  }
}
